* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #36393e;
  color: white;
}

h3 {
  color: #77a0ba;
}

h1 > a {
  color: #7289da;
}

button,
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

button:hover {
  transition: transform 0.2s;
  transform: scale(1.25);
}

.main-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box > * {
  margin-top: 1rem;
}

a {
  color: white;
}

.main-box > a:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
  color: #7289da;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box > * {
  margin-bottom: 0.5rem;
}

p {
  font-size: large;
  font-weight: bold;
}

img {
  border-radius: 0.5rem;
}

span {
  font-style: italic;
}
